* {
    margin: 0;
    padding: 0;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --color: white;
  }

  body{
    background-color: #2e2e3b;
    color: whitesmoke;
    font-family:sans-serif;
  }



  header{
    text-align: center;
    padding: 20px;
    background-color: white;
    color: #2e2f42;
    font-weight: bold;
    font-size: 1.2rem;
  }

  #buttons-container{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #buttons-container > div {
    margin: 1em 1em;
  }

  .slidecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    cursor: pointer;;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    margin: 1em 1.5em;
    color: #2e2e3b;


  }
  #eraser {
      cursor: pointer;;
      padding: 1em 1.5em;
      font-size: 1rem;
      font-weight: bold;
      background-color: white;
      margin: 1em 1.5em;
      color: #2e2e3b;
  }
  .button:hover, #eraser:hover{
    opacity: 0.9;
  }

  .clicked {
    box-shadow: 0 0 1rem white;
    transform: scale(1.1);
  }
  
  #grid-container {
    max-width: 500px;
    min-height: 500px;
    display: grid;
    border: 10px solid rgb(130, 149, 255);
    margin: 2rem auto;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-gap: 1px;
    background-color: white;
    
  }
  
  .grid-item {
    border: 1px solid black;
    text-align: center;
    background-color: var(--color);
  }

  